
@{
    ViewBag.Title = "NewsIndex";
}

@*<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
        <h2>News</h2>
    </asp:Content>*@

<section class="about">
    <div class="inner-banner demo-2 text-center">
        <header class="logo">
            <img src="~/Content/images/logoIAIM.png" style="width:150px; height:80px; position:absolute; top:0; left: 0;" />
        </header>
        <div id="breadcrumb_wrapper">
            <div class="container">
                <style>
                    h1 {
                        font-family: "Time new roman";
                        letter-spacing: normal;
                    }
                </style>
                <h1>NEWS</h1>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server"></asp:ContentPlaceHolder>
            </div>
        </div>
    </div>
    <div class="about-grids">
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</section>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <div class="container">
        <div class="news-section-grids">
            <div class="col-md-12 news-section-grid">
                <asp:DataList ID="DataList1" runat="server" RepeatColumns="2">
                    <ItemTemplate>
                        <table width="1200">
                            <tr>
                                <td width="600">
                                    <img src="~/Content/img/garbhasankarimage1.jpg" Height="350px" Width="10px" /><br /><br />
                                    <span style="font-size:18.0pt;font-family:Cambria; Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;"><font color="Purple">Garbhsanskar Shibir on 20 June 2024</font></span><br />
                                    <span style="font-size:12.0pt;font-family:Cambria; Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;">15/6/2024</span>

                                    <div class="clearfix"></div>
                                    <span style="font-size:12.0pt;font-family:Cambria; Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;">Garbhsanskar Shibir on 20 June 2024 for pregnant womens</span><br /><br />
                                    <a href="~/Content/BlogDet.aspx" class="smore">MORE</a>
                                </td>&nbsp;&nbsp;

                                <td width="600">
                                    <img src="~/Content/images/DrGopal.jpg" Height="350px" Width="10px" /><br /><br />
                                    <span style="font-size:18.0pt;font-family:Cambria; Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;"><font color="Purple">Publication of Book of Late Dr. Gopalkrushna Waghralkar ("U Need No Medicine")</font></span><br />
                                    <span style="font-size:12.0pt;font-family:Cambria; Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;">08/06/2007</span>
                                    <div class="clearfix"></div>
                                    <span style="font-size:12.0pt;font-family:Cambria; Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;">Publication of Book of Late Dr. Gopalkrushna Waghralkar ("U Need No Medicine") यू नीड नो मेडिसिन and ("Arogya Pravachan") आरोग्य प्रवचन</span><br /><br />
                                    <a href="~/Content/BlogDet.aspx" class="smore">MORE</a>
                                </td>
                            </tr>
                        </table>&nbsp;&nbsp;

                        <table width="1200">
                            <tr>
                                <td width="600">
                                    <img src="~/Content/img/Screenshot 2024-05-27 203706.png" Height="350px" Width="50px" />
                                    <span style="font-size:18.0pt;font-family:Cambria; Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;"><font color="Purple">Key Highlights</font></span></br>
                                    <span style="font-size:12.0pt;font-family:Cambria; Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;">27/5/2024</span>

                                    <div class="clearfix"></div>
                                    <span style="font-size:12.0pt;font-family:Cambria; Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;">Some Key Highlights</span><br /><br />
                                    <a href="~/Content/BlogDet.aspx" class="smore">MORE</a>
                                </td>&nbsp;&nbsp;

                                <td width="600">
                                    <img src="~/Content/images/1.JPG" Height="350px" Width="200px" />
                                    <span style="font-size:18.0pt;font-family:Cambria; Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;"><font color="Purple">Ramdevbaba visit to Hospital for Ayurvedic Lecture</font></span></br>
                                    <span style="font-size:12.0pt;font-family:Cambria; Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;"> 30/10/2006</span>
                                    <div class="clearfix"></div>
                                    <span style="font-size:12.0pt;font-family:Cambria; Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;">Ramdevbaba visit to Hospital for Ayurvedic Lecture</span></br><br />
                                    <a href="~/Content/BlogDet.aspx" class="smore">MORE</a>
                                </td>
                            </tr>
                        </table>&nbsp;&nbsp;

                        <table width="1200">
                            <tr>
                                <td width="600">
                                    <img src="~/Content/images/news4-4.jpg" Height="350px" Width="10px" /><br /><br />
                                    <span style="font-size:18.0pt;font-family:Cambria; Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;"><font color="Purple">Late Dr. Gopalkrushna Waghralkar Program with the presence of Mohanaji Bhagawat</font></span></br>
                                    <span style="font-size:12.0pt;font-family:Cambria; Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;">08/5/2013</span>

                                    <div class="clearfix"></div>
                                    <span style="font-size:12.0pt;font-family:Cambria; Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;">Dr. Gopalkrushna Waghralkar Jayanti with the presence of Mohanaji Bhagawat</span><br /><br />
                                    <a href="~/Content/BlogDet.aspx" class="smore">MORE</a>
                                </td>&nbsp;&nbsp;

                                <td width="600">
                                    <img src="~/Content/images/book6.jpg" Height="350px" Width="10px" /><br /><br />
                                    <span style="font-size:18.0pt;font-family:Cambria; Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;"><font color="Purple">Publication of Book by Mr. L. K. Advani on Panchkarma</font></span></br>
                                    <span style="font-size:12.0pt;font-family:Cambria; Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;"> 06/12/2001</span>
                                    <div class="clearfix"></div>
                                    <span style="font-size:12.0pt;font-family:Cambria; Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;">Publication of Book by Mr. L. K. Advani on Panchkarma and Dr. Gopalkrushna Waghralkar</span><br /><br />
                                    <a href="~/Content/BlogDet.aspx" class="smore">MORE</a>
                                </td>
                            </tr>
                        </table>
                        <ItemTemplate>
                </asp:DataList>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

</asp:Content>
</br></br>




