
@{
    ViewBag.Title = "NewsIndex";
}

@*<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
    <h2>News</h2>
</asp:Content>*@

<section class="about">
    <div class="inner-banner demo-2 text-center">
        <header class="logo">
            <img src="~/Content/images/logoIAIM.png" style="width:150px; height:80px; position:absolute; top:0; left: 0;" />
        </header>
        <div id="breadcrumb_wrapper">
            <div class="container">
                <style>
                    h1 {
                        font-family: "Time new roman";
                        letter-spacing: normal;
                    }
                </style>
                <h1>NEWS</h1>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server"></asp:ContentPlaceHolder>
            </div>
        </div>
    </div>
    <div class="about-grids">
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</section>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <div class="container">
        <div class="news-section-grids">
            <div class="col-md-12 news-section-grid">
                <asp:DataList ID="DataList1" runat="server" RepeatColumns="2">
                    <ItemTemplate>
                        <table width="900">
                            <tr>
                                <td width="350">
                                    <img src="~/Content/images/GarbhasanskarImg.jpg" Height="300px" Width="50px" />
                                    <h4><font color="Blue">Garbhsanskar Shibir on 20 June 2024</font></h4>
                                    <h6>15/6/2024</h6>

                                    <div class="clearfix"></div>
                                    <p>Garbhsanskar Shibir on 20 June 2024 for pregnant womens </p>
                                    <a href="~/Content/BlogDet.aspx" class="smore">MORE</a>
                                </td>
                                <td width="350">
                                    <img src="~/Content/images/GarbhasanskarImg.jpg" Height="300px" Width="50px" />
                                    <h4><font color="Blue">Publication of Book of Late Dr. Gopalkrushna Waghralkar ("U Need No Medicine")</font></h4>
                                    <h6>08/06/2007</h6>
                                    <div class="clearfix"></div>
                                    <p>Publication of Book of Late Dr. Gopalkrushna Waghralkar ("U Need No Medicine") यू नीड नो मेडिसिन and ("Arogya Pravachan") आरोग्य प्रवचन<p>
                                        <a href="~/Content/BlogDet.aspx" class="smore">MORE</a>
                                </td>
                            </tr>
                        </table>
                        <table width="900">
                            <tr>
                                <td width="350">
                                    <img src="~/Content/images/GarbhasanskarImg.jpg" Height="300px" Width="50px" />
                                    <h4><font color="Blue">Garbhsanskar Shibir on 20 June 2024</font></h4>
                                    <h6>15/6/2024</h6>

                                    <div class="clearfix"></div>
                                    <p>Garbhsanskar Shibir on 20 June 2024 for pregnant womens </p>
                                    <a href="~/Content/BlogDet.aspx" class="smore">MORE</a>
                                </td>
                                <td width="350">
                                    <img src="~/Content/images/GarbhasanskarImg.jpg" Height="300px" Width="50px" />
                                    <h4><font color="Blue">Publication of Book of Late Dr. Gopalkrushna Waghralkar ("U Need No Medicine")</font></h4>
                                    <h6>08/06/2007</h6>
                                    <div class="clearfix"></div>
                                    <p>Publication of Book of Late Dr. Gopalkrushna Waghralkar ("U Need No Medicine") यू नीड नो मेडिसिन and ("Arogya Pravachan") आरोग्य प्रवचन<p>
                                        <a href="~/Content/BlogDet.aspx" class="smore">MORE</a>
                                </td>
                            </tr>
                        </table>
                        <table width="900">
                            <tr>
                                <td width="350">
                                    <img src="~/Content/images/GarbhasanskarImg.jpg" Height="300px" Width="50px" />
                                    <h4><font color="Blue">Garbhsanskar Shibir on 20 June 2024</font></h4>
                                    <h6>15/6/2024</h6>

                                    <div class="clearfix"></div>
                                    <p>Garbhsanskar Shibir on 20 June 2024 for pregnant womens </p>
                                    <a href="~/Content/BlogDet.aspx" class="smore">MORE</a>
                                </td>
                                <td width="350">
                                    <img src="~/Content/images/GarbhasanskarImg.jpg" Height="300px" Width="50px" />
                                    <h4><font color="Blue">Publication of Book of Late Dr. Gopalkrushna Waghralkar ("U Need No Medicine")</font></h4>
                                    <h6>08/06/2007</h6>
                                    <div class="clearfix"></div>
                                    <p>Publication of Book of Late Dr. Gopalkrushna Waghralkar ("U Need No Medicine") यू नीड नो मेडिसिन and ("Arogya Pravachan") आरोग्य प्रवचन<p>
                                        <a href="~/Content/BlogDet.aspx" class="smore">MORE</a>
                                </td>
                            </tr>
                        </table>
                        <ItemTemplate>
                </asp:DataList>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>

</asp:Content>
</br></br>



