
@{
    ViewBag.Title = "ContactIndex";
}

@*<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
    <h2>Contact Us</h2>
</asp:Content>*@

<section class="about">
    <div class="inner-banner demo-2 text-center">
        <header class="logo">
            <img src="~/Content/images/logoIAIM.png" style="width:150px; height:80px; position:absolute; top:0; left: 0;" />
        </header>
        <div id="breadcrumb_wrapper">
            <div class="container">
                <style>
                    h1 {
                        font-family: "Time new roman";
                        letter-spacing: normal;
                    }
                </style>
                <h1>CONTACT US</h1>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server"></asp:ContentPlaceHolder>
            </div>
        </div>
    </div>
    <div class="about-grids">
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</section>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="contact">
        <div class="container">
            <div class="map">
                <style>h4 {font-family: "Time new roman";
                           letter-spacing:normal;
}</style>
                <h4>GET IN TOUCH</h4>
                <p class="MsoNormal" style="text-align: justify">
                    <span style="font-size:12.0pt;font-family:Cambria; Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;">
                        About Google Maps Google Maps is currently the most popular, as well as the most effective mapping service available on the internet. In addition to providing a detailed mapped image of the entire world, the service is also capable of providing directions to any destination and can even calculate the shortest or the least expensive travel route. Google Maps is also a constantly evolving application, and users are able to provide suggestions, make corrections, and even design 3D structures for the Google Maps extension known as Google Earth. Finally, the service can be used at no cost by general users, and Google has actually gone as far as offering free access to the Google Maps API. However, there are also several enterprise solutions available, designed specifically for business-oriented applications.

                        </br></br>Early Days of Google Maps Even though Google Maps has become one of the staple products of Google, the original idea and the computational foundation of the service was first developed by two brothers from Denmark: Lars and Jens Rasmussen. However, the mapping application conceived by the Rasmussen brothers at their start-up Where 2 Technologies was to be distributed as a piece of downloadable software. In 2004, after trying to create various mapping systems from scratch, Google began to show real interest in the brother's project. In 2004, after discussions with the company's technical and marketing staff, Lars and Jens Rasmussen made two very important decisions: to sell their Where 2 Technologies start-up to Google Inc. and become Google project managers, and to revamp their software application into an interactive online service called Google Maps.

                        </br></br>Google Maps can be created with a simple application on our website. It simply requires that you enter the address of the location and click on the button to generate the link. When the process is complete, the link can be copied and pasted into the website. This process is helpful for all types of websites including projects that incorporate storytelling with maps. Here are some tips that you should know:

                        </br></br>1. Google Maps Integrate Satellite Imagery Google Maps also incorporates the use of satellite imagery to provide users with greater detail of the area. The street view is amazingly accurate and precise. This was made possible by Google's vans that acquire information by driving roads and also by acquiring panoramic photos. Users can get maps of and driving directions to almost any location around the world.<o:p></o:p>
                    </span>
                </p></br></br></br>
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d22638.205309719353!2d79.06589999960634!3d21.109434075403026!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4bf7987e4368b%3A0x5c01987391051c!2sWaghralkar%20Hospital%20%26%20Research%20Institute!5e0!3m2!1sen!2sin!4v1719397631714!5m2!1sen!2sin" width="1000" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>@*, Nagpur, &z=14&t=" width="1000" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a class="addmaps" href="http://www.map-embed.com" id="get-map-data" mce_href="http://maps.google.com/maps/api/js?sensor=false">West Samarth Nagar, Near Ajni Square, Samarth Nagar, Wardha Road, Nagpur, </a></iframe>*@
                </div>
            </div>
            <div class="contact-infom">
                <h4>CONTACT INFO</h4>
            </div>
            <div class="address">
                <div class="row">
                    <div class="col-md-6 location">
                        <h4>Address1 :</h4>
                        <ul>
                            <li><i class="fa fa-map-marker"></i><p><b>Waghralkar Ayurved Hospital & Research Center, <span>47, West Samarth Nagar, Ajani Square</span>Nagpur - 440015(MS) India</b></p><div class="clearfix"></div> </li>
                            <li><i class="fa fa-phone"></i><p><b>0712 2250141</b></p> <div class="clearfix"></div> </li>
                            <li><i class="fa fa-envelope-o"></i></br><a href="mailto:contact@waghralkarayurved.org"><b>contact@waghralkarayurved.org</b></a><div class="clearfix"></div></li>
                        </ul>
                    </div>

                    <div class="clearfix"> </div>
                </div>
            </div>

</asp:Content>
</br></br>




