@{
    ViewBag.Title = "Home Page";

}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/pages/Appointment.js"></script>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider with Radio Navigation</title>
    <style>
        .slider-container {
            width: 1500px;
            margin: auto;
            overflow: hidden;
            position: relative;
            border: 1px solid #ccc;
        }

        .slides {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .slide {
            min-width: 100%;
        }

            .slide img {
                width: 50%;
                height: 50%;
            }

        .slider-nav {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
        }

            .slider-nav label {
                cursor: pointer;
                width: 12px;
                height: 12px;
                margin: 0 5px;
                border-radius: 50%;
                background-color: #bbb;
                transition: background-color 0.3s ease;
            }

                .slider-nav label:hover {
                    background-color: #888;
                }

            .slider-nav input[type="radio"] {
                display: none;
            }

                .slider-nav input[type="radio"]:checked + label {
                    background-color: #333;
                }
    </style>
</head>
<body>

    <div class="slider-container">
        <div class="slides">
            <div class="slide"><img src="~/Content/images/news1.jpg" style="width:1500px; height:600px;" alt=" Slide 1"></div>
            <div class="slide"><img src="~/Content/images/news2.jpg" style="width:1500px; height:600px;" alt="Slide 2"></div>
            <div class="slide"><img src="~/Content/images/news3.jpg" style="width:1500px; height:600px;" alt="Slide 3"></div>
            <div class="slide"><img src="~/Content/images/news4.jpg" style="width:1500px; height:600px;" alt=" Slide 4"></div>
            <div class="slide"><img src="~/Content/images/news5.jpg" style="width:1500px; height:600px;" alt=" Slide 5"></div>
            <!-- Add more slides as needed -->
        </div>

        <div class="slider-nav">
            <input type="radio" id="slide1" name="slide" checked>
            <label for="slide1"></label>

            <input type="radio" id="slide2" name="slide">
            <label for="slide2"></label>

            <input type="radio" id="slide3" name="slide">
            <label for="slide3"></label>

            <input type="radio" id="slide4" name="slide">
            <label for="slide4"></label>

            <input type="radio" id="slide5" name="slide">
            <label for="slide5"></label>

            <!-- Add more radio inputs and labels as needed -->
        </div>
    </div>

    <script>
        const slides = document.querySelector('.slides');
        const radios = document.querySelectorAll('.slider-nav input[type="radio"]');

        radios.forEach(radio => {
            radio.addEventListener('change', function () {
                const index = parseInt(this.id.replace('slide', '')) - 1;
                slides.style.transform = `translateX(-${index * 100}%)`;
            });
        });
    </script>

</body>
</html>


@*<div class="demo-2">
        <div id="visual">
            <div class="slide-visual slideanim">

    <ul class="slide-group">
        <li><img src="~/Content/images/news1.jpg" alt="Dummy Image" class="img-responsive" /></li>
        <li><img src="~/Content/images/news2.jpg" alt="Dummy Image" class="img-responsive" /></li>
        <li><img src="~/Content/images/news3.jpg" alt="Dummy Image" class="img-responsive" /></li>
        <li><img src="~/Content/images/news4.jpg" alt="Dummy Image" class="img-responsive" /></li>
        <li><img src="~/Content/images/news5.jpg" alt="Dummy Image" class="img-responsive" /></li>
    </ul>
     Slide Description Image Area (316 x 328)
    <div class="script-wrap">
                    <ul class="script-group">
                        <li><div class="inner-script"><img src="~/Content/images/news1-1.jpg" alt="Dummy Image" class="img-responsive" /></div></li>
                        <li><div class="inner-script"><img src="~/Content/images/news2-2.jpg" alt="Dummy Image" class="img-responsive" /></div></li>
                        <li><div class="inner-script"><img src="~/Content/images/news3-3.jpg" alt="Dummy Image" class="img-responsive" /></div></li>
                        <li><div class="inner-script"><img src="~/Content/images/news4-4.jpg" alt="Dummy Image" class="img-responsive" /></div></li>
                        <li><div class="inner-script"><img src="~/Content/images/news5-5.jpg" alt="Dummy Image" class="img-responsive" /></div></li>
                    </ul>
                    <div class="slide-controller">
                        <a href="#" class="btn-prev"><img src="~/Content/images/btn_prev.png" alt="Prev Slide" /></a>
                        <a href="#" class="btn-play"><img src="~/Content/images/btn_play.png" alt="Start Slide" /></a>
                        <a href="#" class="btn-pause"><img src="~/Content/images/btn_pause.png" alt="Pause Slide" /></a>
                        <a href="#" class="btn-next"><img src="~/Content/images/btn_next.png" alt="Next Slide" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<div class="our-news">
    <h3 class="text-center"><b>Waghralkar Ayurved Hospital & Research Center</b> </h3>
</div>
<script type="text/javascript" src="~/Content/js/jquery.ba-cond.min.js"></script>
<script type="text/javascript" src="~/Content/js/jquery.slitslider.js"></script>
<script type="text/javascript">
    $(function () {

        var Page = (function () {

            var $nav = $('#nav-dots > span'),
                slitslider = $('#slider').slitslider({
                    onBeforeChange: function (slide, pos) {

                        $nav.removeClass('nav-dot-current');
                        $nav.eq(pos).addClass('nav-dot-current');

                    }
                }),

                init = function () {

                    initEvents();

                },
                initEvents = function () {

                    $nav.each(function (i) {

                        $(this).on('click', function (event) {

                            var $dot = $(this);

                            if (!slitslider.isActive()) {

                                $nav.removeClass('nav-dot-current');
                                $dot.addClass('nav-dot-current');

                            }

                            slitslider.jump(i + 1);
                            return false;

                        });

                    });

                };

            return { init: init };

        })();

        Page.init();

        /**
        * Notes:
        *
        * example how to add items:
        */

        /*

        var $items  = $('<div class="sl-slide sl-slide-color-2" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1"><div class="sl-slide-inner bg-1"><div class="sl-deco" data-icon="t"></div><h2>some text</h2><blockquote><p>bla bla</p><cite>Margi Clarke</cite></blockquote></div></div>');

        // call the plugin's add method
        ss.add($items);

        */

    });
</script>

<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="container">
        <div class="col-md-4 timing">
            <div class="opening-hours">
                <h3><i class="fa fa-clock-o"></i>Opening Hours</h3>
                <ul>
                    <li>Monday - Saturday</li>

                    @*<div class="clearfix"></div>*@
                </ul>
                <ul>
                    <li>Morning</li>
                    <li>10.00 AM - 2.00 PM</li>
                    @*<div class="clearfix"></div>*@
                </ul>
                <ul>
                    <li>Evening</li>
                    <li>6.00 PM - 8.30 PM</li>
                    @*<div class="clearfix"></div>*@
                </ul>
                <ul>
                    <li>Sunday</li>
                    <li>Closed</li>
                    @*<div class="clearfix"></div>*@
                </ul>
            </div>
            <div class="help">
                <h3><i class="fa fa-pencil-square-o"></i>Need Help?</h3>
                <p>Just Make an Appointment to Get Help From Our Experts</p>
                <a href="#" class="btn btn-default btn-default_2 pull-left" data-toggle="modal" data-target="#applyModal_1">Request an Appointment</a>
                <div class="modal fade" id="applyModal_1" tabindex="-1" role="dialog" aria-labelledby="applyModalLabel" aria-hidden="true">
                    <div class="modal-dialog dialog_3">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title" id="H1">
                                    <div class="head_4">
                                        <h3>Make An appointment Now</h3>
                                        <p>
                                            Id : <label id="txtId" hidden></label>
                                        </p>
                                    </div>
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div name="row" class="register">
                                    <input type="text" name="name" id="txtName" placeholder="Name" required="" />
                                    <input type="text" name="email id" id="txtEmail" placeholder="Email id" required="" />
                                    <input type="text" name="mobile number" id="txtMobile" placeholder="Mobile Number" required="" />
                                    <input type="text" id="txtCity" placeholder="City" required="" />
                                    <input type="radio" id="txtGender" name="fav_language" value="Male">
                                    <label for="male">Male</label>
                                    <input type="radio" id="txtGender" name="fav_language" value="Female">
                                    <label for="female">Female</label>&nbsp; &nbsp;
                                    <input type="date" class="date" id="txtDate" value="Appointment date" required="" />

                                    <textarea type="text" id="txtMessage" required=""
                                              TextMode="MultiLine"></textarea>
                                    <button id="btnsubmit" type="submit" style="background-color: #8F44AD; color:white; "
                                            onclick="SaveAppointment()">
                                        Submit
                                    </button>
                                </div>
                            </div>
                            <!---start-date-piker---->
                            <link rel="stylesheet" href="~/Content/css/jquery-ui.css" />
                            <script src="~/Content/js/jquery-ui.js"></script>
                            @*<script>
                                $(function () {
                                    $("#datepicker").datepicker();
                                });
                            </script>*@
                            <!---/End-date-piker---->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 abt-img">
            <img src="~/Content/images/" alt="doctor" title="doctor" />
        </div>
        <div class="col-md-4 abt-dec">
            <h2> Dr.GopalKrishna Waghralkar</h2>
            <p class="diff">MD.(Med),Ph.D(Ayurved)</p>
            <p>
                Dr. GopalKrushna Waghralkar  is known as a ‘doctor friend’back home and an expert in Ayurved
                throught the world.One need not say, of course, that he maintains the same identity whereever
                he goes.He has broughtglory not only for Nagpur,a place in Maharashtra State ..
            </p>
            <h2> Dr.Ranjana Waghralkar</h2>
            <p class="diff">MD (Ayurved), Ph.D.</p>
            <p>
                Trained in India,Dr.Ranjana Waghralkar has practiced Ayurved since 1985, and is Managing
                Editor of "QuantumHealing". She is working as a Visiting Professor in Several countries.
            </p>
            <a href="#" class="btn btn-default btn-default_2 pull-left" data-toggle="modal" data-target="#Div1">Read More</a>




        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //banner-bottom -->
<div class="modal fade" id="Div1" tabindex="-1" role="dialog" aria-labelledby="applyModalLabel" aria-hidden="true">
    <section class="happy-patients">
        <div class="container">
            <div class="happy-patients-head text-center">

                <h4>About Doctors</h4>
            </div>
            <div class="happy-patients-grids">
                <div class="col-md-6 happy-patients-grid">
                    <div class="happy-patients-grid-left text-right hvr-bounce-to-right dir-arrr">
                        <h4>Dr. GopalKrushna Waghralkar</h4>
                        <p>
                            Dr. GopalKrushna Waghralkar  is known as a ‘doctor friend’back home and an expert in Ayurved
                            throught the world.One need not say, of course, that he maintains the same identity whereever
                            he goes.He has broughtglory not only for Nagpur,a place in Maharashtra State in India,but to
                            the entire nation by winning prestigious awards and finding a place in the world's 'Who'sWho'.
                            Consultant to the World Foundation of Ayurveda Prevention Centre,USA,an advisor to the World
                            Foundation of Ayurveda,the Director of International Director Ayurved Preventation Centre, America,
                            and Editor of Quantom Healing,an international medicine journal published from Nagpur.
                            He is a visiting professor to countries like United States,South Africa,Britain,Japan,Germany,
                            and Gulf countries to name a few.A cursery look at the following will prove his merit.
                        </p>

                    </div>
                    <div class="happy-patients-grid-right">
                        <img src="~/Content/images/d3.jpg" alt="happy patient" title="happy patient" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 happy-patients-grid">
                    <div class="happy-patients-grid-right another1 dir-arrl">
                        <img src="~/Content/images/d1.jpg" alt="happy patient" title="happy patient" />
                    </div>
                    <div class="happy-patients-grid-left another2 hvr-bounce-to-left">
                        <h4>Dr.Ranjana G.Waghralkar</h4>
                        <p>
                            Trained in India,Dr.Ranjana Waghralkar has practiced Ayurved since 1985, and is Managing
                            Editor of "QuantumHealing".She is working as a Visiting Professor in Several countries.
                            Her writing has been published in several Newspapers,and she lectures widely in several countries.
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </section>
</div>
<!-- Stats -->
<div class="stats">
    <div class="container">
        <p class="slideanim"></p>
        <div class="stats-info">
            <div class="col-md-3 col-sm-3 stats-grid slideanim">
                <i class="fa fa-smile-o"></i>
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='18303' data-delay='.5' data-increment="50">18303</div>
                <p class="stats-info">Happy Patients</p>
            </div>
            <div class="col-md-3 col-sm-3 stats-grid slideanim">
                <i class="fa fa-bookmark"></i>
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='89' data-delay='.5' data-increment="5">89</div>
                <p class="stats-info">Awards</p>
            </div>
            <div class="col-md-3 col-sm-3 stats-grid slideanim">
                <i class="fa fa-book"></i>
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='215' data-delay='.5' data-increment="20">215</div>
                <p class="stats-info">Book Published</p>
            </div>
            <div class="col-md-3 col-sm-3 stats-grid slideanim">
                <i class="fa fa-flask"></i>
                <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='285' data-delay='.5' data-increment="1">285</div>
                <p class="stats-info">Ayurvedic Product</p>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
<!-- //Stats -->
<script type="text/javascript" src="~/Content/js/numscroller-1.0.js"></script>

<!-- tabs -->
<div class="vertical-tabs">
    <div class="container">
        <h3 class="title text-center">Who We Are</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-8 col-xs-9 bhoechie-tab-container">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">
                    <div class="list-group">
                        <a href="#" class="list-group-item active text-center">
                            RESEARCH
                        </a>
                        <a href="#" class="list-group-item text-center">
                            PROUDUCT
                        </a>
                        <a href="#" class="list-group-item text-center">
                            CENTRES
                        </a>
                        <a href="#" class="list-group-item text-center">
                            TREATMENTS
                        </a>
                        <a href="#" class="list-group-item text-center">
                            QUANTUM HEALING
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
                    <!-- flight section -->
                    <div class="bhoechie-tab-content active">
                        <div class="services">
                            <div class="ser-img">
                                <img src="~/Content/images/ser1.jpg" title="service" alt="" />
                            </div>
                            <div class="ser-info">
                                <h3>Waghralkar Ayurved Hospital and Reasearch Centre</h3>
                                <p>
                                    It has also been recognised by Kavi Kulguru
                                    Kalidas Sanskrit University for PhD students.The centre provides all the facilities that are
                                    required to do research and specialisation in any subject related to Ayurveda.Laboratory
                                    facilities are also available in the spacious hospital area where herbs are planted and
                                    research work done continuously.
                                </p>

                                <a href="About.aspx">Read More</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- train section -->
                    <div class="bhoechie-tab-content">
                        <div class="services">
                            <div class="ser-img">
                                <img src="~/Content/images/ser2.jpg" title="service" alt="" />
                            </div>
                            <div class="ser-info">
                                <h3>PHARMACY AND PRODUCTION CENTRE</h3>
                                <p>
                                    Waghralkar Hospital does not depend only on the medicines that are already available.
                                    The research centre has a special Pharmacy Department which is constantly engaged in
                                    upgrading knowledge and exploring new formulations for providing Quality treatment.Having his own pharmacy and production centre.
                                </p>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit, totam rem aperiam, eaque
                                    ipsa quae ab illo inventore dicta sunt explicabo
                                </p>
                                <a href="http://shop.waghralkarayurved.org/">Read More</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <!-- hotel search -->
                    <div class="bhoechie-tab-content">
                        <div class="services">
                            <div class="ser-img">
                                <img src="~/Content/images/ser3.jpg" title="service" alt="" />
                            </div>
                            <div class="ser-info">
                                <h3>RECREATION CENTER</h3>
                                <p>
                                    Television,a walk in the garden that has herbs and other plants of medicinal value.Patients
                                    admitted to the hospital regularly take benefit of the facilities thus provided and get fresh.
                                    The recreation helps them remove the tags that they are patients.

                                </p>
                                <h3>MUSIC & AROMA THERAPY</h3>
                                <p>
                                    Music is closely associated with nature. It will also not be wrong to say that the origin of nature is through sound. And atoms always establish communication with each other. Wherever there is motion there always is a sound, states the law of science. And in absence of sound, the nature would not have been created. This slows the importance of sound in the creation of this nature.
                                </p>
                                <a href="Therapy.aspx">Read More</a>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="bhoechie-tab-content">
                        <div class="services">
                            <div class="ser-img">
                                <img src="~/Content/images/ser4.jpg" title="service" alt="" />
                            </div>
                            <div class="ser-info">
                                <h3>AVAGAHA SWEDAM</h3>
                                <p>
                                    Vamana, Virechana, Nasya, Basti, Niruha Vasti

                                </p>
                                <h3>MASSAGE</h3>
                                <P>AYURVEDIC ABHYANGA, PINDA SWEDA, SHIRODHARA, NETHRA THARPANAM</P>
                                <h3>BASTI</h3><p>Kati Basti, Janu Basti</p>
                                <a href="Treatment.aspx">Read More</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="bhoechie-tab-content">
                        <div class="services">
                            <div class="ser-img">
                                <img src="~/Content/images/ser5.jpg" title="service" alt="" />
                            </div>
                            <div class="ser-info">
                                <h3>QUANTUM HEALING - Magzine </h3>
                                <p>
                                    Edited by <b>Dr.Gopalkrishna Waghralkar</b> , the internationally circulated medical journal has
                                    subscriptions in <b>28 countries</b> .It has on its board of directors experts like
                                    <b>
                                        Dr.David Timbs(New Zealand) ,Padma Bhushan Dr.Pandit Brihaspatidev Triguna,Dr.Sotaru Tamji(Japan)
                                        Dr.Bozan Mazdenzic(Holland) and the Director of Australia-based Ayurved Health centre, Dr.Krishnakumar
                                    </b>.
                                </p>

                                <a href="Quantum.aspx">Jan 2016</a>
                                <a href="Quantum.aspx">Apr 2016</a>
                                <a href="Quantum.aspx">July 2016</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Content/js/tabs.js"></script>
<!-- //tabs -->
<!-- quick links -->
<div class="news-section" id="news">
    <div class="container">
        <div class="news-section-head text-center">
            <h3>Latest news</h3>
            <p>Here, there and everywhere... what we've been doing</p>
        </div>
        <div class="news-section-grids">
            <div class="col-md-4 news-section-grid">
                <DataList ID="DataList1" RepeatDirection="Horizontal">
                    <ItemTemplate>
                        <asp:Image ID="Image2" ImageUrl='<%# Eval("Image1","~/Img/{0}") %>' width="410" height="320" />

                        <HyperLink ID="HyperLink1" class="news-title" NavigateUrl='<%# Eval("ActivityId","~/NewsDet.aspx?ActivityId={0}") %'>
                            Text='<%# Eval("Title") %>
                        </HyperLink>
                        <label><%#Eval("Date") %></label>

                        <a class="more" href="News.aspx">Read more</a>

                    </ItemTemplate>
                </DataList>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>

<<<<<<< HEAD
<!-- //quick links -->
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/6683bad9eaf3bd8d4d17188c/1i1p93ot9';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->
=======
    <!-- //quick links -->

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/6683b4a6eaf3bd8d4d171607/1i1p7jb5f';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

>>>>>>> 2c29829a61ac727e0525b40874c2d7854dcd184c
