
@{
    ViewBag.Title = "Training";
}

@*<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
    <h2>Training</h2>
</asp:Content>*@

<section class="about">
    <div class="inner-banner demo-2 text-center">
        <header class="logo">
            <img src="~/Content/images/logoIAIM.png" style="width:150px; height:80px; position:absolute; top:0; left: 0;" />
        </header>
        <div id="breadcrumb_wrapper">
            <div class="container">
                <style>
                    h1 {
                        font-family: "Time new roman";
                        letter-spacing: normal;
                    }
                </style>
                <h1>TRAINING</h1>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server"></asp:ContentPlaceHolder>
            </div>
        </div>
    </div>
    <div class="about-grids">
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</section>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="technologies">
        <div class="container">
            <h3 class="last-updated">Certified course of Panchakarma training. </h3>
            <p>
                <span style="font-size:12.0pt;font-family:Cambria; Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;">In our hospital we give one month training  to BAMS passed students in which we give them all practical knowledge regarding Panchakarma  treatment.
            </span>
                </p>					<div class="tech-accordian">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title asd">
                    <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span><i class="glyphicon glyphicon-menu-up" aria-hidden="true"></i><label class="horse1"><font color="Purple">Duration</font></label>
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body panel_text">
                    <div id="style-2">
                        <span style="font-size:12.0pt;font-family:Cambria; Times New Roman&quot;,&quot;serif&quot;;
mso-fareast-font-family:&quot;Times New Roman&quot;">One month</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title asd">
                    <a class="pa_italic collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span><i class="glyphicon glyphicon-menu-up" aria-hidden="true"></i><label class="horse2"><font color="Purple">Eligibility</font></label>
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body panel_text">
                    BAMS Pass
                </div>
            </div>
        </div>

        <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
            <div class="panel-body panel_text">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
            </div>
        </div>
    </div>

    <img src="~/Content/images/training.jpg" />
    
</div>
        </div>
    </div>
    </div>
    <!--- /technologies ---->
    </section>
</asp:Content>



