@{
    ViewBag.Title = "DetailsIndex";
    Layout = "~/Views/Shared/AdminLayout .cshtml";
}
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script src="~/Content/Gallary.js"></script>

<h2>PhotoGallery DetailsIndex</h2>
<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <lable><b>PhotoId-</b></lable>
                <input value="@ViewBag.PhotoId" id="txtphotoId" />
            </div>

            <div class="col-sm-6">
                <lable><b>Enter Title-</b></lable>
                <span id="txttitle"></span>
            </div>

            <div class="col-sm-6">
                <lable><b>Photo1-</b></lable>
                <span id="txtPhoto1"></span>
            </div>

            <div class="col-sm-6">
                <lable><b>Photo2-</b></lable>
                <span id="txtPhoto2"></span>
            </div>

            <div class="col-sm-6">
                <lable><b>Type-</b></lable>
                <span id="txtType"></span>
            </div>

        </div>

    </div>

</div>

