
@{
    ViewBag.Title = "PhotoGallary";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/Gallary.js"></script>
<link href="~/Content/CSS-3.css" rel="stylesheet" />
@*<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
        <h2>PhotoGallery</h2>
    </asp:Content>
    <asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">*@
<section class="about">
    <div class="inner-banner demo-2 text-center">
        <header class="logo">
            <img src="~/Content/images/logoIAIM.png" style="width:150px; height:80px; position:absolute; top:0; left: 0;" />
        </header>
        <div id="breadcrumb_wrapper">
            <div class="container">
                <style>
                    h1 {
                        font-family: "Time new roman";
                        letter-spacing: normal;
                    }
                </style>
                <h1>PHOTOGALLERY</h1>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server"></asp:ContentPlaceHolder>
            </div>
        </div>
    </div>
    <div class="about-grids">
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</section>


<p><a href="https://www.nxworld.net/css-image-hover-effects.html" target="_blank"></a></p>
<h2 id="demo01"></h2>
<div class="hover01 column">
    <div>
        <figure><img src="~/Content/images/GarbhasanskarImg.jpg" style="width: 350px; height: 350px; border: 5px solid #04a93b; "/></figure>

    </div>
    <div>
        <figure><img src="~/Content/images/GarbhasanskarImg.jpg" style="width: 350px; height: 350px; border: 5px solid #04a93b; " /></figure>

    </div>
    <div>
        <figure><img src="~/Content/images/GarbhasanskarImg.jpg" style="width: 350px; height: 350px; border: 5px solid #04a93b; " /></figure>

    </div>
    <div>
        <figure><img src="~/Content/images/GarbhasanskarImg.jpg" style="width: 350px; height: 350px; border: 5px solid #04a93b; " /></figure>

    </div>
</div>

<br />

<div class="hover01 column">
    <div>
        <figure><img src="~/Content/images/DrGopal.jpg" style="width: 350px; height: 350px; border: 5px solid #04a93b; "/></figure>

    </div>
    <div>
        <figure><img src="~/Content/images/DrGopal.jpg" style="width: 350px; height: 350px; border: 5px solid #04a93b; " /></figure>

    </div>
    <div>
        <figure><img src="~/Content/images/DrGopal.jpg" style="width: 350px; height: 350px; border: 5px solid #04a93b; " /></figure>

    </div>
    <div>
        <figure><img src="~/Content/images/DrGopal.jpg" style="width: 350px; height: 350px; border: 5px solid #04a93b; " /></figure>

    </div>
</div>

@*<div class="container">
        <div class="card-body">
            <div class="carousel-dark"
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="~/Content/images/GarbhasanskarImg.jpg" style="width:300px; height:300px"/>
                    </div>
                    <div class="col-sm-3">
                        <img src="~/Content/images/GarbhasanskarImg.jpg" style="width:300px; height:300px" />
                    </div>
                    <div class="col-sm-3">
                        <img src="~/Content/images/GarbhasanskarImg.jpg" style="width:300px; height:300px" />
                    </div>
                    <div class="col-sm-3">
                        <img src="~/Content/images/GarbhasanskarImg.jpg" style="width:300px; height:300px" />
                    </div>
                </div>
             </div>
            </div>
        </div>
    </div>*@

</br></br></br>

<table id="Photogallaries" class=" table table-bordered table-striped ">
    <thead class="table-dark">
        <tr>
            <th> Srno </th>
            <th> PhotoId </th>
            <th> Title </th>
            <th> Photo1 </th>
            <th> Photo2</th>
            <th> Type </th>

        </tr>
    </thead>
    <tbody></tbody>
</table>


@*<section class="gallery-block grid-gallery">
        <div class="container">
            <div class="heading">
                <h2>Grid Gallery</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 item">
                    <div class="lightbox">
                        <img src="~/Content/images/GarbhasanskarImg.jpg" />
                        <img class="img-fluid image scale-on-hover" src="~/Content/images/GarbhasanskarImg.jpg" />
                    </div>
                </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070507/Gallery/image2.jpg">
                        <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070507/Gallery/image2.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070506/Gallery/image3.jpg">
                        <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070506/Gallery/image3.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070505/Gallery/image4.jpg">
                        <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070505/Gallery/image4.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070506/Gallery/image5.jpg">
                        <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070506/Gallery/image5.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070508/Gallery/image6.jpg">
                        <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070508/Gallery/image6.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070509/Gallery/image7.jpg">
                        <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070509/Gallery/image7.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070510/Gallery/image8.jpg">
                        <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070510/Gallery/image8.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070507/Gallery/image9.jpg">
                        <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070507/Gallery/image9.jpg">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="gallery-block grid-gallery">
        <div class="container">
            <div class="heading">
                <h2>Grid Gallery</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="http://www.politicalmetaphors.com/wp-content/uploads/2015/04/blog-shapes-square-windows.jpg">
                        <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070505/Gallery/image1.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070507/Gallery/image2.jpg">
                        <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070507/Gallery/image2.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070506/Gallery/image3.jpg">
                        <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070506/Gallery/image3.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070505/Gallery/image4.jpg">
                        <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070505/Gallery/image4.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070506/Gallery/image5.jpg">
                        <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070506/Gallery/image5.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070508/Gallery/image6.jpg">
                        <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070508/Gallery/image6.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070509/Gallery/image7.jpg">
                        <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070509/Gallery/image7.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070510/Gallery/image8.jpg">
                        <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070510/Gallery/image8.jpg">
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <a class="lightbox" href="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070507/Gallery/image9.jpg">
                        <img class="img-fluid image scale-on-hover" src="https://res.cloudinary.com/dpnaptcei/image/upload/v1537070507/Gallery/image9.jpg">
                    </a>
                </div>
            </div>
        </div>
    </section>


    <script>
        baguetteBox.run('.grid-gallery', {
            animation: 'slideIn'
        });</script>*@













