
@{
    ViewBag.Title = "VideoGallary";
}

@*<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
    <h2>VideoGallery</h2>
</asp:Content>*@

<section class="about">
    <div class="inner-banner demo-2 text-center">
        <header class="logo">
            <img src="~/Content/images/logoIAIM.png" style="width:150px; height:80px; position:absolute; top:0; left: 0;" />
        </header>
        <div id="breadcrumb_wrapper">
            <div class="container">
                <style>
                    h1 {
                        font-family: "Time new roman";
                        letter-spacing: normal;
                    }
                </style>
                <h1>VIDEOGALLERY</h1>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server"></asp:ContentPlaceHolder>
            </div>
        </div>
    </div>
    <div class="about-grids">
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</section>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="container">

        <div>
            <asp:SqlDataSource ID="SqlDataSource1" runat="server"
                               ConnectionString="<%$ ConnectionStrings:WaghralkarConnectionString %>"
                               SelectCommand="SELECT [Title], [UTubeurl], [VideoId], [Type] FROM [Videogallery]">
            </asp:SqlDataSource>


            <asp:DataList ID="Repeater1" runat="server"
                          DataSourceID="SqlDataSource1" RepeatColumns="2"
                          RepeatDirection="Horizontal" RepeatLayout="Flow" Width="750px"
                          style="text-align: left; font-weight: 700">
                <ItemTemplate>
                    <div align="left" class="darkCyan"><asp:Label ID="Label1" runat="server" Text='<%# Eval("Title") %>'></asp:Label></div>

                    <asp:Label ID="Label3" runat="server" Text='<%# Eval("UTubeurl") %>'></asp:Label>

                    <br />
                </ItemTemplate>
            </asp:DataList>

        </div>
    </div>
</asp:Content>



