
@{
    ViewBag.Title = "AwardsIndex";
}

@*<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
        <h2>Awards</h2>
    </asp:Content>*@

<section class="about">
    <div class="inner-banner demo-2 text-center">
        <header class="logo">
            <img src="~/Content/images/logoIAIM.png" style="width:150px; height:80px; position:absolute; top:0; left: 0;" />
        </header>
        <div id="breadcrumb_wrapper">
            <div class="container">
                <style>
                    h1 {
                        font-family: "Time new roman";
                        letter-spacing: normal;
                    }
                </style>
                <h1>AWARDS</h1>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server"></asp:ContentPlaceHolder>
            </div>
        </div>
    </div>
    <div class="about-grids">
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
</section>


<style>
    h3:hover, h3:active {
        color: orange;
    }

    .col-md-2 {
        width: 2.666667%;
    }
</style>
<section class="about">
    <div class="about-grids">
        <div class="container">
            <div class="col-md-12">
                <div class="row ">
                    <div class="col-md-2"></div>
                    <div class="col-md-9">
                        <section class="">
                            <div class="">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="col-md-4 abt-grid">
                                                <h3>Asia pacific award</h3>
                                                <div class="clearfix"></div>
                                                <p>Asia pacific award</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-4 abt-grid">
                                                <h3>Asias Huj-hu of Men and Women of Achievement award</h3>
                                                <div class="clearfix"></div>
                                                <p>Asias Huj-hu of Men and Women of Achievement award</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="col-md-4 abt-grid">
                                                <h3>Awards and medals in Indian classical singing</h3>
                                                <div class="clearfix"></div>
                                                <p>for classical singing</p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </section>
                    </div>
                </div>
            </div>
         </div>
    </div>
</section>

@*<div class="container">
        <div class="col-md-4 abt-grid">
            <h3>Ekatmata award</h3>
            <div class="clearfix"></div>
            <p>Ekatmata award</p>
        </div>
        <div class="col-md-4 abt-grid">
            <h3>Indo American Huj-hu award award</h3>
            <div class="clearfix"></div>
            <p>Indo American Huj-hu award award</p>
        </div>
        <div class="col-md-4 abt-grid">
            <h3>Indo Asian Huj-hu award award</h3>
            <div class="clearfix"></div>
            <p>Indo Asian Huj-hu award award</p>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="container">
        <div class="col-md-4 abt-grid">
            <h3>Outstanding young Indian award</h3>
            <div class="clearfix"></div>
            <p>from Indian Junior Chember</p>
        </div>
        <div class="col-md-4 abt-grid">
            <h3>Pt. Jawaharlal Nehru Award</h3>
            <div class="clearfix"></div>
            <p>Pt. Jawaharlal Nehru Award</p>
        </div>
        <div class="col-md-4 abt-grid">
            <h3>Ramai Award</h3>
            <div class="clearfix"></div>
            <p>Ramai Award</p>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="container">
        <div class="col-md-4 abt-grid">
            <h3>Vaidya Laxmibai Borwankar 'Stri Vaidya' Award 2010</h3>
            <div class="clearfix"></div>
            <p>Vaidya Laxmibai Borwankar 'Stri Vaidya' Award 2010</p>
        </div>
        <div class="col-md-4 abt-grid">
            <h3></h3>
            <div class="clearfix"></div>
            <p></p>
        </div>
        <div class="col-md-4 abt-grid">
            <h3></h3>
            <div class="clearfix"></div>
            <p></p>
        </div>

        <div class="clearfix"></div>
    </div>*@






@*<style>
        h3:hover, h3:active {
            color: orange;
        }

        .col-md-2 {
            width: 2.666667%;
        }
    </style>
    <div class="col-md-12">
        <div class="row ">
            <div class="col-md-2">

            </div>
            <div class="col-md-9">
                <section class="">
                    <div class="">


                            <tr>
                                <td>
                                    <div class="col-sm-4 abt-grid">

                                        <div class="btn btn-hover-yellow">
                                            <h3>Asia pacific award</h3>
                                            <div class="clearfix"></div>
                                            <p>Asia pacific award</p>
                                        </div>

                                    </div>
                                </td>

                                <td>
                                    <div class="col-sm-4 abt-grid">
                                        <div class="btn btn-hover-yellow">
                                            <h3>Asias Huj-hu of Men and <br />Women of Achievement <br />award</h3>
                                            <div class="clearfix"></div>
                                            <p>Asias Huj-hu of Men and Women of Achievement award</p>

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-sm-4 abt-grid">
                                        <div class="btn btn-hover-yellow">
                                            <h3>Awards and medals in <br />Indian classical singing</h3>
                                            <div class="clearfix"></div>
                                            <p>Awards and medals in Indian classical singing/p>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-sm-4 abt-grid">
                                        <div class="btn btn-hover-yellow">
                                            <h3>Ekatmata award</h3>
                                            <div class="clearfix"></div>
                                            <p>Ekatmata award</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-sm-4 abt-grid">
                                        <div class="btn btn-hover-yellow">
                                            <h3>Indo American Huj-hu<br /> award award</h3>
                                            <div class="clearfix"></div>
                                            <p>Indo American Huj-hu award award</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-sm-4 abt-grid">
                                        <div class="btn btn-hover-yellow">
                                            <h3>Indo Asian Huj-hu award <br />award</h3>
                                            <div class="clearfix"></div>
                                            <p>Indo Asian Huj-hu award award</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-sm-4 abt-grid">
                                        <div class="btn btn-hover-yellow">
                                            <h3>Outstanding young Indian<br /> award</h3>
                                            <div class="clearfix"></div>
                                            <p>Outstanding young Indian award</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-sm-4 abt-grid">
                                        <div class="btn btn-hover-yellow">
                                            <h3>Pt. Jawaharlal Nehru <br />Award</h3>
                                            <div class="clearfix"></div>
                                            <p>Pt. Jawaharlal Nehru Award</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-sm-4 abt-grid">
                                        <div class="btn btn-hover-yellow">
                                            <h3>Ramai Award</h3>
                                            <div class="clearfix"></div>
                                            <p>Ramai Award</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="col-sm-4 abt-grid">
                                        <div class="btn btn-hover-yellow">
                                            <h3>Ramai awards</h3>
                                            <div class="clearfix"></div>
                                            <p>Ramai awards</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-sm-4 abt-grid">
                                        <div class="btn btn-hover-yellow">
                                            <h3>Vaidya Laxmibai<br /> Borwankar 'Stri Vaidya'<br /> Award 2010 </h3>
                                            <div class="clearfix"></div>
                                            <p>Vaidya Laxmibai Borwankar 'Stri Vaidya' Award 2010 </p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                </td>
                            </tr>




                    </div>



                </section>
            </div>
        </div>
    </div>*@





