
@{
    ViewBag.Title = "AddBlogIndex";
    Layout = "~/Views/Shared/AdminLayout .cshtml";
}
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script src="~/Content/Blog.js"></script>

<section class="content-header" style="margin-left:20px">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>ADD Blog</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">General Form</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content" style="margin-left:20px">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header" style="background-color:cornflowerblue;">
                    <h3 class="card-title">Quick Example</h3>
                </div>
                <div class="table table-striped" style="background:padding-box; padding-left:20px;padding-right:15px;">

                    <label>ActiveId:</label>
                    <input type="text" id="txtActiveId" placeholder="ActiveId" class="form-control" />
                    <br />

                    <label>Title:</label>
                    <input type="text" id="txtTitle" placeholder="Title" class="form-control" />
                    <br />

                    <label>Details:</label>

                    <input type="text" id="txtDetails" placeholder="Details" class="form-control" />
                    <br />

                    <label>Image1:</label>
                    <input type="file" id="txtImage1" class="form-control" />
                    <br />

                    <label>Image2:</label>
                    <input type="file" id="txtImage2" class="form-control" />
                    <br />

                    <label>Type:</label>
                    <input type="text" id="txtType" placeholder="Type" class="form-control" />
                    <br />

                    <label>Date:</label>
                    <input type="date" id="txtDate" placeholder="Date" class="form-control" />
                    <br />

                    <input type="button" value="Submit" class="btn btn-success" onclick="SaveBlog()" />
                    <br><br />
                    @*<input type="text" id="txtName" name="Criteria" class="control-group pull-left" style="border:1px solid #E1E1DD" />
                    <button id="btnSearch" onclick="GetSearchList()"> Search</button>*@
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content" style="margin-left:20px">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table id="Blogs" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th> ActivityId </th>
                                <th> Title</th>
                                <th> Details </th>
                                <th> Image1 </th>
                                <th> Image2 </th>
                                <th> Type </th>
                                <th> Date </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

